*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
}
.carousel-item img {
    height: 460px;
    width:  1100px;
    object-fit: fill;
}
.card mb-3{
    height: 140px;
}
.carousel slide{
    padding-top: 3%;
}
.Planes{
    height: 120px;
}
#box a:hover {
    text-decoration: underline;
}
.head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(140, 238, 169);
}
.card-body a:hover {
    color: brown;
}
.card-text{
    text-decoration: none;
}
.casket{
    background-color: rgb(150, 247, 247);
    margin: 0 50px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px rgba(0,0,0, .1);
    transition: transform 1s ease-in-out;
}
.casket:hover{
    transform: scale(1.1);
    z-index: 3;
}
#Case:hover{
    transition: transform 0.3s ease;
    transform: translateY(-10px);
}
.fstyle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
}
@media (max-width:425px){
    html,body{
        height: 100%;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .casket{
        margin: 30px 10px;
    }
}